html, body {
    height: 100%;
    margin: 0;
}

.fondo {
	background-size: cover;
	background-repeat: no-repeat;
	height: 0;
	padding-top: 5vw;
}

#fondo1 {
	background-image: url("Imagenes/Fondo.png");
	padding-bottom: 66.66%;
}

#fondo2 {
	background-image: url("Imagenes/Fondo2.png");
	padding-bottom: 378.34%;
}

#aboutme, #Freelancer {
	color: #999;
	font-family: "robotomedium";
	margin-bottom: 0;
	font-size: 1vw;
}

#BrendaBautista {
	color: #333;
	font-family: "robotomedium";
	font-size: 1vw;
	margin-bottom: 1vw;
}

#portafolio {
	font-family: 
}